@page "/"

<PageTitle>Sobre o desafio</PageTitle>

<h1>Sobre o desafio</h1>
<p  class="mt-2">O desafio foi moldado em cima do repositório que contém dados de cidade e estado de todo o Brasil.</p>


<FluentAnchor Href="https://github.com/andrebaltieri/ibge" Appearance="Appearance.Accent" Target="_blank">Repositorio do Balta com os dados do IBGE</FluentAnchor>

<h2 class="mt-3" >Funcionalidades Base</h2>

<FluentTreeView RenderCollapsedNodes=true>
    <FluentTreeItem InitiallySelected="true">Autenticação usando Identity</FluentTreeItem>
    <FluentTreeItem>CRUD de Localidade (Código, Estado, Cidade -- Id, City, State)</FluentTreeItem>
    <FluentTreeItem>Pesquisa por cidade</FluentTreeItem>
    <FluentDivider></FluentDivider>
    <FluentTreeItem>Pesquisa por estado</FluentTreeItem>
    <FluentTreeItem>Pesquisa por código (IBGE)</FluentTreeItem>
</FluentTreeView>

<FluentFooter  Class="position-fixed bottom-0">
    <p class="h6 d-inline">
        Este desafio foi realizado por Pedro Martins Falleiros <FluentAnchor Href="https://github.com/pedroMF1996" Target="_blank" Appearance="Appearance.Outline"><FluentIcon Value="@(new Icons.Regular.Size24.Globe())" /></FluentAnchor>
        Silvio Moraes Filho <FluentAnchor Href="https://github.com/SilvioCarlos12" Target="_blank" Appearance="Appearance.Outline"><FluentIcon Value="@(new Icons.Regular.Size24.Globe())" /></FluentAnchor>
    </p>
    <p class="h6 d-inline">
        Este desafio foi proposto por Andre Baltieri em 10 de Dezembro de 2023 <FluentAnchor Href="https://github.com/andrebaltieri" Target="_blank" Appearance="Appearance.Outline"><FluentIcon Value="@(new Icons.Regular.Size24.Globe())" /></FluentAnchor>
    </p>
</FluentFooter>