@inherits LayoutComponentBase
<CascadingValue Value="this">

	<div class="page">
		<div class="sidebar">
			<NavMenu />
		</div>

		<main>
			<div class="top-row px-4">


				<div style="width:300px;text-align:right;display:flex;">
					<a href="login">Login</a>
					<a href="login">Novo Usuario</a>
				</div>

			</div>
			 
			<article class="content px-4">
				@Body
			</article>
		</main>
	</div>
</CascadingValue>
